body{
    background: #111827;
    height: 5000px;
}
a{
    list-style: none;
    text-decoration: none;
}

.main-header{
   margin-top: -20px;
}
.main-header>div{
display: flex;
}
.navbar{
    display: flex;
}
.nav-bar__ul>ul{
    display: flex;
}
.nav-bar__ul ul li {
    display: flex;
    margin: 15px;
    margin-top: 30px;
}
.nav-bar__ul ul li a{
    color: #fff;
}
.nav-bar__li{
    padding: 0.5rem 1.2rem;
    font-size: 1rem;
    font-weight: 300;
}
.btn-flex{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.btn{
    background: linear-gradient(90.35deg, #2563EB 0.36%, #D946EF 201.02%);
    color: #fff;
    padding: 0.5rem 1.2rem;
    font-size: 1rem;
    font-weight: 300;
    cursor: pointer;
}
.btn:hover {
    background: linear-gradient(90.35deg, #D946EF 0.36%, #2563EB 201.02%);
    transition: 4s linear;
}
.row{
}
.col-md-6{
}
.col-md-6>h3{
    background: linear-gradient(89.83deg, #2563EB 0.11%, #D946EF 58.65%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-size: 3.5rem;
    font-weight: 700;
    padding-bottom: 2rem;
    text-shadow: 0px 4px 4px rgb(0 0 0 / 7%);
}
.col-md-6>p{
    font-size: 1.05rem;
    line-height: 2rem;
    color: #fff;
    padding-bottom: 3rem;
}
.button{
    display: flex;
    gap: 3rem;
    margin-top: -40px;
}
.watch-video{
    display: flex;
    align-items: center;
    color: white;
    gap: 10px;
    font-size: 14px;
}
.sally{
    width: 570px;
    height: 570px;
    filter: drop-shadow(0px 0px 0.9rem #2563EB);
}
.our-services{
    color: #fff;
    font-size: 4.2rem;
    padding-bottom: 1rem;
}
.col-12{
    font-size: 1.2rem;
    color: #f8f7f9;
    line-height: 1.5rem;
    padding-left: 200px;
    padding-right: 200px;
}
.card-1{
    background: linear-gradient(268.12deg, rgba(254, 254, 255, 0.032) -11.04%, rgba(255, 255, 255, 0.018) 104.89%);
    box-shadow: 0px 22px 18px rgb(0 0 0 / 5%);
    padding: 4rem;
    border-radius: 2rem;
    text-align: center;
    min-width: 100%;
}
.card-img{
    width: 74px;
    height: 74px;
    margin: 0 auto;
}
.card-title{
    font-size: 1rem;
    padding-bottom: 1rem;
    color: #fff;
    width: 100%;
}
.card-text-1{
    color: white;
    font-size: 20px;
    font-weight: 700;
}
.card-title-1{
    color: white;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    
}

/*about*/
.about-img{
    filter: drop-shadow(0px 0px 0.9rem #2563EB);
    width: 488px;
}

.about-h3{
    font-size: 3rem;
    padding-bottom: 1rem;
    color: #fff;
}
.about-title p{
    padding-bottom: 3rem;
    color: #f9f8f7;
    font-size: 1rem;
    font-weight: 500;
    line-height: 2rem;
}
.about-btn{
    margin-top: -40px;
}
.Met{
    color: #fff;
    font-size: 4.2rem;
    padding-bottom: 1rem;
}
.Met-text{
    text-align: center;
    font-size: 1.2rem;
    color: #f8f7f9;
    width: 40rem;
    margin-right: auto;
    margin-left: auto;
    line-height: 2rem;
}
.card{
    background: linear-gradient(268.12deg, rgba(254, 254, 255, 0.032) -11.04%, rgba(255, 255, 255, 0.018) 104.89%);
    box-shadow: 0px 22px 18px rgb(0 0 0 / 5%);
    text-align: center;
    padding: 1rem;
    height: fit-content;
    border-radius: 2rem;
}
.card-icon{
    margin-top: 50px;
}
.card-icon i{
    margin-left: 10px;
background: #2563EB;
padding: 0.5rem;
color: #fff;
border-radius: 5rem;
font-size: 1rem;
}


.prising-title{
    font-size: 3.2rem;
}
.text-title-1{
    color: #FFFFFF;
    padding-bottom: 2rem;
    opacity: 0.8;
    font-size: 1rem;
}


.form-control{
    background: linear-gradient(180deg, rgba(254, 254, 255, 0.0348) 0%, rgba(255, 255, 255, 0.048) 100%);
    border-radius: 70px;
    padding: 2rem;
    color: #fff;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    border: none;
}
.form-control:hover{
    background: linear-gradient(180deg, rgba(254, 254, 255, 0.0348) 0%, rgba(255, 255, 255, 0.048) 100%);
}
.form-control:focus{
    background: linear-gradient(180deg, rgba(254, 254, 255, 0.0348) 0%, rgba(255, 255, 255, 0.048) 100%);

}
placeholder{
    color: white;
}